:root{
  --mainBlue: #498197;
  --lightBlue: #bfe6fd;
  --lightYellow: #fffae1;
  --lightYellow2: #f2e3ab;
  --peach: #FCEDDA;
  --burntOrange: #EE4E34;
}

.main{
  display: flex;
  flex-direction: row;
}

.products_wrapper{
  width: 60%;
  background: var(--peach);
}
.cart_wrapper{
  width: 40%;
  background: var(--lightBlue);
}

.product-card{
  padding: 30px;
  margin: 30px;
  background: var(--lightYellow2);
  border-radius: 20px;
}