*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --mainBlue: #2a2a77;
  --lightBlue: #b5dcf5;
  --mainWhite: #f3f3f3;
  --mainDark: #252528;
  --lightYellow: #fffae1;
  --peach: #FCEDDA;
  --burntOrange: #EE4E34;
}

.main{
  display: flex;
  flex-direction: row;
}


.navbar{
	background: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-button {
    color: azure;
    margin: 0 10px;
    text-decoration: none;
}

.navbar-search {
  height: 50%;
  margin: 0 10px;
  flex: 1;
  font-size: 1.2em;
  padding: 10px;  
}
.navbar-icon {
  margin: 0 20px;  
}

.cart-icon{
	height: 50px;
}

.badge-notify{
  background: #EE4E34;
	color: white;
	padding: 5px;
	border-radius: 5px;
  position:relative;
  top: -28px;
  left: -5px;
}

.login-wrapper{
  margin: auto;
  width: 350px;
}

.login-wrapper input, .login-wrapper button{
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.2rem;
}